{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WB06TQZF17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-WB06TQZF17');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{{ about.company_name }} | {% endblock head_title %}</title>
    <meta name="author" content="Entrenando Latinos In Roofing">
    <meta name="description"
        content="Expert roofing, siding, gutter, and window services. Specializing in quality installations and repairs for homes and businesses | {{ about.company_name }}">
    <meta name="keywords"
        content="{% for servicio in servicios %} {{servicio.title}},{% endfor %} | {{ about.company_name }}">
    <meta name="robots" content="index, follow">

    <link rel="icon" type="image/png" sizes="50x50" href="{% static 'app_core/images/FAVICON-50PX.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app_core/images/FAVICON-180PX.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'app_core/images/FAVICON-196PX.png' %}">

    <script type="application/ld+json">
        {
           "@context": "http://schema.org",
           "@type": "RoofingContractor",
           "name": "{{ about.company_name }}",
           "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ contact.address }}",
              "addressLocality": "{{ contact.city }}",
              "addressRegion": "{{ contact.state }}",
              "postalCode": "{{ contact.postal_code }}",
              "addressCountry": "US"
           },
           "telephone": "+1 {{contact.phone1}}",
           "url": "{{ request.build_absolute_uri }}",
           "openingHours": "Mo-Fr 07:00-18:00",
           "geo": {
              "@type": "GeoCoordinates",
              "latitude": "{{ contact.latitude }}",
              "longitude": "{{ contact.longitude }}"
           },
           {% if social_media %}"sameAs": [
              {% for social in social_media %}"{{social.url}}"{% if not forloop.last %}, {% endif %}
              {% endfor %} ],
           {% endif %}{% if servicios %}"makesOffer": [
                {% for servicio in servicios %}{
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Service",
                        "name": "{{ servicio.name }} Services",
                        "description": "{{ servicio.title }}"
                    }
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
           {% endif %}
        }
    </script>

    <script>
        var djangoData = {
            logo: "{% static 'app_core/images/logo.png' %}",
            currentPath: "{{ request.path }}",
            urlName: "{{ request.resolver_match.url_name }}",
            contact: {
                phone1: "{{contact.phone1}}",
                phone2: "{{contact.phone2}}",
                email: "{{contact.email}}",
            },
            static_urls: {
                index: "{% url 'app_core:index' %}",
                about: "{% url 'app_core:about' %}",
                works: "{% url 'app_core:works' %}",
                faqs: "{% url 'app_core:faq' %}",
                contact: "{% url 'app_core:contact' %}",
                privacy: "{% url 'app_core:privacy' %}",
                admin_index: "{% url 'app_user:admin_index' %}"
            },
            dynamic_urls: [
                {% for servicio in servicios %}{
                    name: "{{ servicio.name }}",
                    slug: "{{ servicio.slug }}",
                    icon: "{% static 'app_core/development/images/icons/' %}{{ servicio.icon_mobile|lower }}.png"
                }{% if not forloop.last %},
        {% endif %} {% endfor %}
            ]
        };
    </script>

    <script type="text/javascript" src="{% static 'app_core/development/js/is-mobile.js' %}"></script>

    <!-------------------------------------------------init dev ---------------------------------------------------->

    <!-- PNotify -->
    <link href="{% static 'app_user/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'app_user/vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
    <link href="{% static 'app_user/vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">
    <link href="{% static 'app_user/vendors/pnotify/dist/pnotify.brighttheme.css' %}" rel="stylesheet">

    <!-- Whatsapp -->
    <link href="{% static 'app_core/development/css_whatsapp/whatsapp.css' %}" rel="stylesheet">
    <link href="{% static 'app_core/development/css_whatsapp/line-awesome.css' %}" rel="stylesheet">

    <!-- development -->
    <link rel="stylesheet" href="{% static 'app_core/development/css/lazy-loading.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/counters.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/modals.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/preloaders.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/btns-fixed.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/easy-navigation.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/social-media.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/development/css/menu.css' %}" media="all">

    <!-- Incluye el archivo CSS de Fancybox -- permite abrir un galeria de imagenes-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/animate/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/animate/custom-animate.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/jarallax/jarallax.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/nouislider/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/nouislider/nouislider.pips.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/odometer/odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/roofsie-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/tiny-slider/tiny-slider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/reey-font/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/owl-carousel/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/bxslider/jquery.bxslider.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/bootstrap-select/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/vegas/vegas.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/jquery-ui/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/vendors/timepicker/timePicker.css' %}" />

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'app_core/assets/css/roofsie.css' %}" />
    <link rel="stylesheet" href="{% static 'app_core/assets/css/roofsie-responsive.css' %}" />

    <!-------------------------------------------------finsh dev ---------------------------------------------------->


    <!-------------------------------------------------inicio prueba ---------------------------------------------------->

    <!--  
        Esta seccion no se debe agregar en los pryectos, se utiliza en la base para veriicar funcionalidad de
        bootstrap
     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-------------------------------------------------fin prueba ---------------------------------------------------->

    {% block extra_styles %}{% endblock extra_styles %}
</head>

<body>
    {% comment %} <div class="preloader">
        <div class="preloader__image"></div>
    </div> {% endcomment %}
    {% include 'app_core/snippets/group-btn-fixed-2.html' %}
    <!-- /.preloader -->
    {% comment %}
        {% include 'app_core/snippets/preloader-1.html' %}
        {% include 'app_core/snippets/preloader-2.html' %}
    {% endcomment %}

    {% comment %}  {% endcomment %}

    <!-- inicio ----------- Implementación menu version mobile -->
    {% comment %}
        <div id="header_desktop">
            
        </div>

        <div id="content_snippets">
            
            
        </div>

        <div id="mobile-container-reference"></div>
    {% endcomment %}
    <!-- fin ----------- Implementación menu version mobile -->
    
    {% include 'app_core/snippets/header.html' %}
    {% block content %}{% endblock content %}
    {% include 'app_core/snippets/footer.html' %}
    
    {% comment %}

        {% include 'app_core/snippets/banner-home-1.html' %}

        <a href="{% url 'app_user:admin_index' %}" target="_blank">Login</a>

        {% include 'app_core/snippets/example-easy-navigation-true.html' %}

        {% include 'app_core/snippets/social-media-2.html' %}
        {% include 'app_core/snippets/schedule.html' %}<br>
        {% include 'app_core/snippets/schedule-short.html' %}<br>

        {% include 'app_core/snippets/schedule-long.html' %}<br>

        {% include 'app_core/snippets/footer.html' %}

    {% endcomment %}

    {% comment %}
        <!-- TODO -->
        <!-- <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{% static 'app_core/development/js/sw.js' %}")
                    .then(function (registration) {
                        console.log('Service Worker registrado con éxito con el alcance:', registration.scope);
                    }).catch(function (error) {
                        console.log('Service Worker falló:', error);
                    });
            }
        </script> -->
    {% endcomment %}

    <script src="{% static 'app_core/assets/vendors/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jquery-appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/odometer/odometer.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/tiny-slider/tiny-slider.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/wnumb/wNumb.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/wow/wow.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/isotope/isotope.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/bxslider/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/vegas/vegas.min.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/timepicker/timePicker.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/circleType/jquery.circleType.js' %}"></script>
    <script src="{% static 'app_core/assets/vendors/circleType/jquery.lettering.min.js' %}"></script>




    <!-- template js -->
    <script src="{% static 'app_core/assets/js/roofsie.js' %}"></script>    

    <!-- PNotify -->
    <script src="{% static 'app_user/vendors/pnotify/dist/pnotify.js' %}"></script>
    <script src="{% static 'app_user/vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
    <script src="{% static 'app_user/vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>

    <!-- development -->
    <script type="text/javascript" src="{% static 'app_core/development/js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/whatsapp.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/scroll-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/counters.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/observer-viewport.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/modals.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/preloaders.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/btns-fixed.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/easy-navigation.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/share-on-media.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/send-email.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/select-header-item.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/format-contact-phone.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_core/development/js/lazy-loading.js' %}"></script>


    <!-- Incluye los archivos JavaScript de Fancybox -- permite abrir un galeria de imagenes -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <script>
        Fancybox.bind("[data-fancybox]", {
            caption: function (instance, slide) {
                return slide.caption;
            },
            slideShow: {
                autoStart: true,
                speed: 3000
            },
            fullScreen: {
                autoStart: false
            },
            thumbs: {
                autoStart: true,
                hideOnClose: true
            }
        });
    </script>

    <script>
        const email = '{{contact.email}}';
        let elementEmail = document.querySelectorAll(`a[href="mailto:${email}"]`);
        elementEmail.forEach(element => {
            element.style.wordBreak = 'break-word';
        });
    </script>

    {% block extra_javascript %}{% endblock extra_javascript %}
</body>

</html>