{% load static %}

<!--Why Choose Two Start-->
<section class="why-choose-two">
    <div class="why-choose-two-bg"
        style="background-image: url({% static 'app_core/assets/images/backgrounds/why-choose-two-bg.jpg' %});"></div>
    <div class="container">
        <div class="section-title text-center">
            <div class="section-sub-title-box">
                <p class="section-sub-title">why choose us</p>
                <div class="section-title-shape-1">
                    <img src="{% static 'app_core/assets/images/shapes/section-title-shape-1.png' %}" alt="">
                </div>
            </div>
            <h2 class="section-title__title">Few reasons to choose <br> our company</h2>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="why-choose-two__left">
                    <ul class="list-unstyled why-choose-two__list-one">
                        <li>
                            <div class="icon">
                                <span class="icon-roof-2"></span>
                            </div>
                            <div class="content">
                                <h4>Quality material</h4>
                                <p>In a free hour when our power of choice is untrammelled and when nothing
                                    prevents.</p>
                                <div class="why-choose-two__read-more">
                                    <a href="about.html">Read More <i class="fa fa-arrow-right"></i> </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-mission"></span>
                            </div>
                            <div class="content">
                                <h4>Mission statement</h4>
                                <p>In a free hour when our power of choice is untrammelled and when nothing
                                    prevents.</p>
                                <div class="why-choose-two__read-more">
                                    <a href="about.html">Read More <i class="fa fa-arrow-right"></i> </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="why-choose-two__middle">
                    <div class="why-choose-two__img-box">
                        <div class="why-choose-two__img-one">
                            <img src="{% static 'app_core/assets/images/resources/why-choose-two-img-1.jpg' %}" alt="">
                            <div class="why-choose-two__img-two">
                                <img src="{% static 'app_core/assets/images/resources/why-choose-two-img-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="why-choose-two__right">
                    <ul class="list-unstyled why-choose-two__list-two clearfix">
                        <li class="clearfix">
                            <div class="content">
                                <h4>Fully insured</h4>
                                <p>In a free hour when our power of choice is untrammelled and when nothing
                                    prevents.</p>
                                <div class="why-choose-two__read-more">
                                    <a href="about.html">Read More <i class="fa fa-arrow-right"></i> </a>
                                </div>
                            </div>
                            <div class="icon">
                                <span class="icon-shield"></span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="content">
                                <h4>Expert engineers</h4>
                                <p>In a free hour when our power of choice is untrammelled and when nothing
                                    prevents.</p>
                                <div class="why-choose-two__read-more">
                                    <a href="about.html">Read More <i class="fa fa-arrow-right"></i> </a>
                                </div>
                            </div>
                            <div class="icon">
                                <span class="icon-construction-worker"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose Two End-->