{% load static %}

<!--Feature One Start-->
<section class="feature-one">
    <div class="container">
        <div class="feature-one__inner">
            <div class="row">
                <!--Feature One Single Start-->
                <div class="col-xl-12 col-lg-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="feature-one__single">
                        <div class="feature-one__top">
                            <div class="feature-one__icon">
                                <span class="icon-roof-5"></span>
                            </div>
                            <div class="feature-one__title-box">
                                <h3 class="feature-one__title">{{banner.insurance}}</h3>
                            </div>
                        </div>
                        <div class="feature-one__single-inner">
                            <p class="feature-one__text">{{banner.description}}</p>
                            <div class="feature-one__read-more">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Feature One Single End-->
                <!--Feature One Single Start-->
                {% comment %} <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <div class="feature-one__single">
                        <div class="feature-one__top">
                            <div class="feature-one__icon">
                                <span class="icon-construction-worker"></span>
                            </div>
                            <div class="feature-one__title-box">
                                <h3 class="feature-one__title">{{skills.title2}}</h3>
                            </div>
                        </div>
                        <div class="feature-one__single-inner">
                            <p class="feature-one__text">{{skills.description2}}</p>
                            <div class="feature-one__read-more">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Feature One Single End-->
                <!--Feature One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <div class="feature-one__single">
                        <div class="feature-one__top">
                            <div class="feature-one__icon">
                                <span class="icon-online-registration"></span>
                            </div>
                            <div class="feature-one__title-box">
                                <h3 class="feature-one__title">{{skills.title3}}</h3>
                            </div>
                        </div>
                        <div class="feature-one__single-inner">
                            <p class="feature-one__text">{{skills.description3}}</p>
                            <div class="feature-one__read-more">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Feature One Single End--> {% endcomment %}
            </div>
        </div>
    </div>
</section>
<!--Feature One End-->