{% load static %}

<!--Team One Start-->
<section class="team-one team-two">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-sub-title-box">
                <p class="section-sub-title">Our Services</p>
                <div class="section-title-shape-1">
                    <img src="{% static 'app_core/images/shape.png' %}" alt="">
                </div>
            </div>
            <h2 class="section-title__title">learn about the services we offer </h2>
        </div>
        <div class="row">
            <!--Team One Single Start-->
            {% for service in servicios %}
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <a href="{% url 'app_core:services_view' service.slug %}">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            {% if service.image %}
                            <img src="{{service.image.url}}" alt="D&D Exterior {{service.name}}" style="height: 370px; width: 370px; object-fit: cover; object-position: center">
                            {% else %}
                            <img src="{% static 'app_core/assets/images/team/team-1-1.jpg' %}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="team-one__content-box">
                        <div class="team-one__content">
                            <h3 class="team-one__name">{{ service.name }}</h3>
                            <div class="team-one__shape">
                                <img src="{% static 'app_core/assets/images/shapes/team-one-shape.png' %}" alt="" >
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Team One End-->