{% load static %}

<!--Team One Start-->
<section class="team-one team-two">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-sub-title-box">
                <p class="section-sub-title">Our Services</p>
                <div class="section-title-shape-1">
                    <img src="{% static 'app_core/images/shape.png' %}" alt="">
                </div>
            </div>
            <h2 class="section-title__title">learn about the services we offer </h2>
        </div>
        <div class="row">
            <!--Team One Single Start-->
            {% for service in servicios %}
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            {% if service.image %}
                            <img src="{{service.image.url}}" alt="D&D Exterior {{service.name}}">
                            {% else %}
                            <img src="{% static 'app_core/assets/images/team/team-1-1.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        {% comment %} <ul class="list-unstyled team-one__social">
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul> {% endcomment %}
                    </div>
                    <div class="team-one__content-box">
                        <div class="team-one__content">
                            <h3 class="team-one__name"><a href="{% url 'app_core:services_view' service.slug %}">{{ service.name }}</a></h3>
                            {% comment %} <p class="team-one__sub-title">Executive</p> {% endcomment %}
                            {% comment %} <ul class="list-unstyled team-one__social-two">
                                <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                            </ul> {% endcomment %}
                            <div class="team-one__shape">
                                <img src="{% static 'app_core/assets/images/shapes/team-one-shape.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Team One End-->