{% load static %}

<!--Why Choose One Start-->
<section class="why-choose-one">
    <div class="why-choose-one-bg" style="background-color: #f4f1ee"></div>
    <div class="why-choose-one-shape-3 float-bob-y-2"></div>
    <div class="why-choose-one-shape-4 float-bob-x">
        <img src="{% static 'app_core/images/image.webp' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-one__left">
                    <div class="section-title text-left">
                        <div class="section-sub-title-box">
                            <p class="section-sub-title">Why choose us</p>
                            <div class="section-title-shape-1">
                                <img src="{% static 'app_core/images/shape.png' %}" alt="">
                            </div>
                        </div>
                        <h2 class="section-title__title">Few reasons to choose our company</h2>
                    </div>
                    <p class="why-choose-one__text">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute aboris nisi ut aliquip ex irure reprehederit.</p>
                    <div class="why-choose-one__points-box">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="why-choose-one__points-single">
                                    <div class="why-choose-one__points-icon">
                                        <span class="icon-roof-2"></span>
                                    </div>
                                    <div class="why-choose-one__points-title-box">
                                        <h4 class="why-choose-one__points-title">{{skills.title1}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="why-choose-one__points-single">
                                    <div class="why-choose-one__points-icon">
                                        <span class="icon-shield"></span>
                                    </div>
                                    <div class="why-choose-one__points-title-box">
                                        <h4 class="why-choose-one__points-title">{{skills.title2}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="why-choose-one__points-single">
                                    <div class="why-choose-one__points-icon">
                                        <span class="icon-mission"></span>
                                    </div>
                                    <div class="why-choose-one__points-title-box">
                                        <h4 class="why-choose-one__points-title">{{skills.title3}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="why-choose-one__points-single">
                                    <div class="why-choose-one__points-icon">
                                        <span class="icon-construction-worker"></span>
                                    </div>
                                    <div class="why-choose-one__points-title-box">
                                        <h4 class="why-choose-one__points-title">{{skills.title4}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-one__right">
                    <div class="why-choose-one__img-box">
                        <div class="why-choose-one__img wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms">
                            <img src="{% static 'app_core/images/pose-2.webp' %}" alt="">
                        </div>
                        <div class="why-choose-one__shape-1"></div>
                        <div class="why-choose-one__shape-2"></div>
                        <div class="why-choose-one__author-sign">
                            <p>D&D Exterior</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose One End-->