<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Images - Videos</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="top_tiles">

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:works' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li>
                                            <div class="icon" style="text-align: center;"><i
                                                    class="fa fa-camera-retro icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Images</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:videos' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li>
                                            <div class="icon" style="text-align: center;"><i
                                                    class="fa fa-video-camera icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Videos</h3>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>